global
    maxconn 100

defaults
    mode tcp
    timeout connect 4s
    timeout client 30s
    timeout server 30s

frontend postgres
    bind *:5432
    default_backend postgres_primary

backend postgres_primary
    mode tcp
    option httpchk GET /primary
    http-check expect status 200
    server postgres-primary 172.31.25.2:5432 check port 8008
    server postgres-replica 172.31.25.3:5432 check port 8008 backup

